<div class="container">
    <div class="ui-grid ui-grid-responsive">
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <p-schedule [events]="students" [header]="header" [defaultDate]="defaultDate" [editable]="true"
                (onDayClick)="handleDayClick($event)" 
                (onEventClick)="handleEventClick($event)">
            </p-schedule>
            </div>
        </div>
    </div>    
</div>

<p-dialog header="Event Details" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade" [modal]="false" [contentStyle]="{'overflow':'visible'}"
[style]="{'overflow': 'visible'}" [resizable]="false">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="student">
        <div class="ui-grid-row">
            <div class="ui-grid-col-12"><input pInputText id="FullName" [(ngModel)]="student.title" placeholder="First and Last Name"/></div>
        </div>
        
        <div class="ui-grid-row">
            <div class="ui-grid-col-12"><input pInputText id="Email" [(ngModel)]="student.email" placeholder="Email"/></div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-12"><input pInputText id="Event" [(ngModel)]="student.event" placeholder="Event"/></div>
        </div>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="deleteEvent(student._id)" [disabled]="!student?._id"></button>
            <button type="button" pButton icon="fa-check" (click)="saveEvent($event)" [disabled]="!student?.start"></button>
        </div>
        
    </div>
</p-dialog>